.navbar {
  position: relative;
  padding: 25px 5px;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $sec-color;
  }
  .logo {
    font-weight: 700;
    font-size: 1.438;
  }

  .links {
    width: 100%;
    justify-content: center;
    a {
      font-size: 19px;
      margin-right: 35px;
      font-weight: 600;
    }
    .active {
      background-color: black;
      color: white;
    }
  }
  .search-btn {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .form-control {
    width: 285px;
    font-size: 15px;
    border-radius: 0px;
    border: none;
    background-color: #f1f1f1;
    padding: 10px;
  }
  .icon {
    font-size: 27px;
    padding: 0;
  }
  .profile-icon {
    background-color: $main-color;
    color: white;
    border-radius: 50%;
    padding: 3px;
    font-size: 27px;
    margin-top: 8px;
  }
  .nav-link {
    padding: 0;

    &::after {
      display: none;
    }
  }
  .dropdown-menu {
    position: absolute;
    left: -153px;
    padding: 10px;
    background-color: rgba(63, 57, 69, 0.969);

    .dropdown-item {
      color: white;
      &:hover {
        color: #000;
      }
    }
  }
  @media (max-width: 1200px) {
    .links {
      a {
        font-size: 17px;
        margin-right: 10px;
      }
    }
  }
  @media (max-width: 992px) {
    .links {
      a {
        margin: 10px 0;
      }
    }
    .form-control {
      width: 100%;
    }
    .mx-3 {
      margin: 0 !important;
    }
  }
}
