.HomePage {
  //SideBar
  .SideBar {
    border-right: 1px solid #c4c4c4;
    padding-top: 38px;
    .link {
      display: block;
      color: #565656;
      font-size: 18px;
      text-decoration: none;
      margin-top: 20px;
      font-weight: 600;
      span {
        display: inline-block;
        width: 163px;
      }
    }
  }

  //RightSidBar
  .RightSideBar {
    padding: 45px 5px 10px 40px;
  }
  .content {
    background-color: black;
    color: white;
    padding: 41px 20px 41px 73px;
    justify-content: space-between;
    .img-fluid {
      max-width: 50%;
    }
    .info-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .top-head {
      font-size: 18px;
      .icon {
        font-size: 75px;
        margin-right: 10px;
      }
    }
    .main-head {
      font-size: 79px;
      margin-top: 25px;
      font-weight: 600;
      line-height: 1.2;
      span {
        display: block;
      }
    }
    .shopbtn {
      margin-top: 15px;
      font-size: 23px;
      width: fit-content;
      color: white;
      text-decoration: none;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        bottom: -4px;
        background-color: #8f8f8f;
        left: 0;
      }
    }
  }
  //timer
  .flash-sels {
    margin-top: 155px;
    display: flex;
    align-items: center;
    .title {
      font-size: 36px;
      font-weight: 700;
      margin-right: 50px;
    }
    .timer {
      .date {
        position: relative;
      }
      .name {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
      }
      .num {
        margin: 0px 21px;
        font-size: 31px;
        font-weight: 700;
        font-family: system-ui;
      }
      .dot {
        font-size: 31px;
        color: #db4444;
        font-weight: 900;
        display: inline-block;
      }
    }
  }
  @media (max-width: 1400px) {
    .SideBar {
      .link {
        span {
          width: 150px;
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .content {
      padding: 20px;
      .main-head {
        font-size: 60px;
      }
    }
    .SideBar {
      width: 25%;
      .link {
        margin-top: 13px;
        font-size: 17px;
      }
    }
    .RightSideBar {
      width: 75%;
    }
  }
  @media (max-width: 992px) {
    .row {
      flex-direction: column-reverse;
      margin-top: 20px;
    }
    .SideBar,
    .RightSideBar {
      width: 100%;
    }
    .SideBar {
      display: flex;
      flex-wrap: wrap;
      padding-top: 0;
      .link {
        width: 33.3%;
      }
    }
    .RightSideBar {
      padding: 10px;
    }
    .flash-sels {
      display: block;
      margin-top: 113px;
      .timer {
        margin-top: 25px;
      }
    }
  }

  @media (max-width: 767px) {
    .content {
      padding: 20px;
      .main-head {
        font-size: 31px;
      }
      .top-head {
        font-size: 15px;
        .icon {
          font-size: 43px;
        }
      }
      .shopbtn {
        font-size: 17px;
      }
    }
    .SideBar {
      .link {
        width: 50%;
        margin-top: 19px;
        span {
          width: 155px;
        }
      }
    }
  }
}
