.Wishlist {
  .fav-dlt {
    color: red;
    position: absolute;
    right: 16px;
    cursor: pointer;
    font-size: 18px;
  }
  @media (max-width: 992px) {
    .product {
      margin: 10px auto;
      width: 48%;
    }
    .img-container {
      margin-top: 12px;
    }
  }
}
