@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body,
html {
  font-family: "Raleway" !important;
  font-weight: 400;
  color: black;
}

.cus-dflex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1650px;
}

.breadcrumb {
  margin: 50px 0;
}
.breadcrumb a {
  color: black;
  text-decoration: none;
}
.breadcrumb .active {
  font-weight: 700;
}

.navbar {
  position: relative;
  padding: 25px 5px;
}
.navbar::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
}
.navbar .logo {
  font-weight: 700;
  font-size: 1.438;
}
.navbar .links {
  width: 100%;
  justify-content: center;
}
.navbar .links a {
  font-size: 19px;
  margin-right: 35px;
  font-weight: 600;
}
.navbar .links .active {
  background-color: black;
  color: white;
}
.navbar .search-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}
.navbar .form-control {
  width: 285px;
  font-size: 15px;
  border-radius: 0px;
  border: none;
  background-color: #f1f1f1;
  padding: 10px;
}
.navbar .icon {
  font-size: 27px;
  padding: 0;
}
.navbar .profile-icon {
  background-color: #db4444;
  color: white;
  border-radius: 50%;
  padding: 3px;
  font-size: 27px;
  margin-top: 8px;
}
.navbar .nav-link {
  padding: 0;
}
.navbar .nav-link::after {
  display: none;
}
.navbar .dropdown-menu {
  position: absolute;
  left: -153px;
  padding: 10px;
  background-color: rgba(63, 57, 69, 0.969);
}
.navbar .dropdown-menu .dropdown-item {
  color: white;
}
.navbar .dropdown-menu .dropdown-item:hover {
  color: #000;
}
@media (max-width: 1200px) {
  .navbar .links a {
    font-size: 17px;
    margin-right: 10px;
  }
}
@media (max-width: 992px) {
  .navbar .links a {
    margin: 10px 0;
  }
  .navbar .form-control {
    width: 100%;
  }
  .navbar .mx-3 {
    margin: 0 !important;
  }
  .navbar .dropdown-menu {
    left: -5px;
  }
}

.SignIn .alerterror {
  position: absolute;
  width: 70%;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #ec0000;
  color: white;
}
.SignIn .form-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}
.SignIn .form-card form {
  width: 64%;
}
.SignIn .form-card form .form-control {
  border: none;
  padding: 11px 0;
  border-radius: 0;
  border-bottom: 2px solid #bfbfbf;
  margin-top: 30px;
}
.SignIn .form-card form .form-control::-moz-placeholder {
  color: #9e9e9e;
}
.SignIn .form-card form .form-control::placeholder {
  color: #9e9e9e;
}
.SignIn .form-card form #submit {
  background-color: #db4444;
  border-color: #db4444;
  font-size: 19px;
  padding: 9px 37px;
}
.SignIn .form-card form .registerBtn {
  display: block;
  margin-top: 20px;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: underline;
}
.SignIn .head {
  font-size: 33px;
  letter-spacing: 2px;
  font-weight: 700;
}
.SignIn .info {
  font-size: 19px;
  color: #565656;
}
@media (max-width: 1400px) {
  .SignIn .form-card {
    padding-left: 50px;
  }
}
@media (max-width: 1400px) {
  .SignIn .alerterror {
    width: 98%;
    font-size: 15px;
    top: -43px;
  }
  .SignIn .form-card form {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .SignIn .row {
    flex-direction: column-reverse;
  }
  .SignIn .img-card {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .SignIn .form-card {
    padding: 10px;
  }
}

footer {
  background-color: black;
  color: white;
  padding: 51px 10px 18px 10px;
  margin-top: 70px;
}
footer .title {
  font-size: 22px;
  font-weight: 700;
}
footer .desc {
  font-size: 18px;
  color: #a7a7a7;
}
footer p {
  cursor: pointer;
}
footer .img-fluid {
  max-width: 39%;
}
footer .play-img {
  max-width: 55%;
}
footer .socials {
  justify-content: space-evenly;
}
footer .footer-card {
  width: 20%;
}
footer form {
  position: relative;
}
footer form .send-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 47px;
  font-size: 22px;
  cursor: pointer;
}
footer form .form-control {
  height: 47px;
  width: 88%;
  color: white !important;
  background-color: black;
}
footer form .form-control::-moz-placeholder {
  color: white !important;
}
footer form .form-control::placeholder {
  color: white !important;
}
footer form .form-control:focus {
  background-color: rgba(238, 238, 238, 0.2705882353);
}
footer .copy {
  display: flex;
  justify-content: space-between;
}
footer .copy a {
  color: #db4444;
  font-weight: 700;
  text-decoration: none;
}
@media (max-width: 992px) {
  footer .footer-card {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .copy {
    display: block;
    text-align: centers;
    line-height: 2;
  }
  footer form .form-control {
    width: 100%;
  }
  footer form .send-icon {
    right: 15px;
  }
}

.HomePage .SideBar {
  border-right: 1px solid #c4c4c4;
  padding-top: 38px;
}
.HomePage .SideBar .link {
  display: block;
  color: #565656;
  font-size: 18px;
  text-decoration: none;
  margin-top: 20px;
  font-weight: 600;
}
.HomePage .SideBar .link span {
  display: inline-block;
  width: 163px;
}
.HomePage .RightSideBar {
  padding: 45px 5px 10px 40px;
}
.HomePage .content {
  background-color: black;
  color: white;
  padding: 41px 20px 41px 73px;
  justify-content: space-between;
}
.HomePage .content .img-fluid {
  max-width: 50%;
}
.HomePage .content .info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.HomePage .content .top-head {
  font-size: 18px;
}
.HomePage .content .top-head .icon {
  font-size: 75px;
  margin-right: 10px;
}
.HomePage .content .main-head {
  font-size: 79px;
  margin-top: 25px;
  font-weight: 600;
  line-height: 1.2;
}
.HomePage .content .main-head span {
  display: block;
}
.HomePage .content .shopbtn {
  margin-top: 15px;
  font-size: 23px;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  text-decoration: none;
  position: relative;
}
.HomePage .content .shopbtn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -4px;
  background-color: #8f8f8f;
  left: 0;
}
@media (max-width: 1200px) {
  .HomePage .content {
    padding: 20px;
  }
  .HomePage .content .main-head {
    font-size: 60px;
  }
  .HomePage .SideBar {
    width: 25%;
  }
  .HomePage .SideBar .link {
    margin-top: 13px;
    font-size: 17px;
  }
  .HomePage .RightSideBar {
    width: 75%;
  }
}
@media (max-width: 992px) {
  .HomePage .row {
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .HomePage .SideBar,
  .HomePage .RightSideBar {
    width: 100%;
  }
  .HomePage .SideBar {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
  }
  .HomePage .SideBar .link {
    width: 33.3%;
  }
  .HomePage .RightSideBar {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  .HomePage .content {
    padding: 20px;
  }
  .HomePage .content .main-head {
    font-size: 31px;
  }
  .HomePage .content .top-head {
    font-size: 15px;
  }
  .HomePage .content .top-head .icon {
    font-size: 43px;
  }
  .HomePage .content .shopbtn {
    font-size: 17px;
  }
  .HomePage .SideBar .link {
    width: 50%;
    margin-top: 19px;
  }
  .HomePage .SideBar .link span {
    width: 155px;
  }
}

.Contact .form-card,
.Contact .info-card {
  box-shadow: 0px 0px 5px 1px #eee;
  padding: 45px;
}
.Contact .info-card .log {
  font-size: 17px;
  font-weight: 600;
}
.Contact .info-card .icon {
  background-color: #db4444;
  color: white;
  font-size: 21px;
  padding: 5px;
  border-radius: 50%;
  display: inline-block;
  width: 43px;
  height: 43px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}
.Contact .info-card .info {
  margin-top: 18px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(51, 51, 51);
}
.Contact .form-card {
  width: 73%;
  margin-left: 2%;
}
.Contact .form-card form {
  display: flex;
  flex-wrap: wrap;
}
.Contact .form-card .form-control {
  width: 32%;
  margin: 10px auto;
  height: 50px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 0;
}
.Contact .form-card #msg {
  width: 98.7%;
  height: 200px;
  margin-top: 17px;
  resize: none;
}
.Contact .form-card .btn {
  background-color: #db4444;
  color: white;
  font-size: 19px;
  padding: 9px 37px;
  border: none;
  margin: 19px 0px 0px 6px;
}
@media (max-width: 992px) {
  .Contact .form-card,
  .Contact .info-card {
    width: 94%;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .Contact .form-card,
  .Contact .info-card {
    padding: 16px;
  }
  .Contact .form-card .form-control {
    width: 100%;
  }
  .Contact .form-card {
    margin-top: 30px;
  }
}

.About .breadcrumb {
  margin-left: 127px;
}
.About .img-card {
  padding: 0;
}
.About .img-card .img-fluid {
  height: 100%;
}
.About .info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 132px;
  padding-right: 122px;
}
.About .info-card .head {
  font-size: 53px;
  font-weight: 600;
}
.About .info-card .info {
  font-size: 18px;
  color: #404040;
  font-weight: 500;
  padding: 10px 0;
}
.About .icon {
  background-color: black;
  color: white;
  width: 60px;
  height: 60px;
  margin: 20px auto;
  border-radius: 50%;
  font-size: 35px;
  box-shadow: 0px 0px 0px 10px #aaaaaa;
}
.About .store-nums .store-details {
  width: calc(25% - 20px);
  margin: 10px auto;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
}
.About .store-nums .store-details .num {
  font-size: 25px;
  font-weight: bold;
  font-family: system-ui;
}
.About .store-nums .active {
  background-color: #db4444;
  color: white;
  border: none;
}
.About .store-nums .active .icon {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 0px 10px rgba(215, 215, 215, 0.5215686275);
}
.About .store-nums,
.About .employee,
.About .foot-card {
  flex-wrap: wrap;
  margin-top: 125px;
}
.About .employee-card {
  width: calc(33.3333333333% - 40px);
  margin: 20px auto;
}
.About .employee-card .title {
  font-size: 32px;
  font-weight: 700;
}
.About .employee-card .socials {
  font-size: 19px;
}
.About .foot-card {
  justify-content: center;
}
.About .foot-card .footer-card {
  width: 29%;
  text-align: center;
}
.About .foot-card .footer-card .title {
  font-size: 23px;
  font-weight: 700;
  margin-top: 26px;
}
@media (max-width: 1200px) {
  .About .breadcrumb {
    margin-left: 0;
  }
  .About .info-card {
    padding: 0px 20px 35px 13px;
    margin-top: -20px;
  }
  .About .info-card .head {
    font-size: 40px;
  }
  .About .info-card .info {
    font-size: 17px;
    padding: 6px 0;
  }
}
@media (max-width: 992px) {
  .About .store-nums .store-details {
    width: 48%;
  }
  .About .store-nums,
  .About .employee,
  .About .foot-card {
    margin-top: 50px;
  }
  .About .employee-card,
  .About .foot-card .footer-card {
    width: 78%;
  }
  .About .foot-card .footer-card {
    margin-bottom: 30px;
  }
}

.ProductCard {
  width: calc(20% - 20px);
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 20px;
}
.ProductCard .top-menu {
  justify-content: space-between;
}
.ProductCard .top-menu .discount {
  background-color: #db4444;
  color: white;
  padding: 2px 13px;
}/*# sourceMappingURL=index.css.map */